/* Empty css file that users can override in their own /assets/css/custom.css file */
.raena {
  color: #6e9971;
  padding-left: 20px
}

.raena::before {
  content: "."
}

.robin {
  color: #3b5ddb;
}

.robin::before {
  content: "."
}

.sath {
  color: #AD6666;
  padding-left: 40px
}

.sath::before {
  content: "."
}

.post-title {
}

.post-subtitle {
  margin-top: 0px;
  padding-top: -10px;
  padding-bottom: .2em;
  color: #909090;
  font-style: italic;
}
